@{
    Layout = "~/Views/Shared/Template.cshtml";
    ViewBag.Title = "Информация";
}



<div class="container">
    <p id="back-top">
        <a href="#top"><span></span></a>
    </p>

    <section class="mt-4">

        <div class="row" id="toppageinfo">
            <div class="col-md-8 mb-4">
                <div class="card mb-4 wow fadeIn">
                    <img src="/Images/Blood.jpg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card mb-4 text-center wow fadeIn">
                    <div class="card-header">Оглавление</div>
                    <div class="list-group">
                        <a class="list-group-item list-group-item-action" href="#menuitem1">Что такое диабет 1 типа</a>
                        <a class="list-group-item list-group-item-action" href="#menuitem2">Диагноз - сахарный диабет</a>
                        <a class="list-group-item list-group-item-action" href="#menuitem3">Инсулинотерапия</a>
                        <a class="list-group-item list-group-item-action" href="#menuitem4">Питание</a>
                        <a class="list-group-item list-group-item-action" href="#menuitem5">Расчет Хлебных Единиц</a>
                        <a class="list-group-item list-group-item-action" href="#menuitem6">О пользе продуктов при диабете</a>
                        <a class="list-group-item list-group-item-action" href="#menuitem7">Дополнительная информация для диабетиков</a>
                        <a class="list-group-item list-group-item-action" href="#menuitem8">Все что касается гипогликемии</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-4">

                <div class="card mb-4 wow fadeIn" id="menuitem1">
                    <div class="card-body text-left">
                        <p class="h5 my-4">Что такое диабет 1 типа</p>
                        <p>
                            Диабет 1 типа - это хроническое заболевание, при котором поджелудочная
                            железа теряет способность вырабатывать инсулин. Бета-клетки, которые
                            синтезируют гормон, разрушаются из-за ошибочных атак иммунной системы.
                            Диабет 1 типа чаще начинается в детском или подростковом возрасте,
                            но и у взрослых тоже бывает. Это серьезное нарушение обмена веществ,
                            которое может вызвать острые и хронические осложнения. Однако оно не делает
                            больного инвалидом. Можно вести нормальную жизнь, соблюдая диету и уделяя
                            лечению не более 10-15 минут в день.
                        </p>
                        <p>
                            Аутоиммунный диабет пока еще нельзя вылечить раз и навсегда, но можно
                            хорошо контролировать, гарантированно защитившись от осложнений.
                            Ниже подробно описаны причины, симптомы, диагностика и последствия заболевания,
                            рассказано о перспективных новых методах исцеления, над которыми работают ученые.
                        </p>
                        <p>
                            Причина диабета 1 типа в том, что иммунная система организма атакует и уничтожает
                            бета-клетки поджелудочной железы. Это особые клетки, которые вырабатывают гормон
                            инсулин, помогающий усваивать пищу и снижающий уровень глюкозы в крови. После того,
                            как погибают 80-90% бета-клеток, инсулина начинает сильно не хватать, сахар
                            значительно повышается и появляются симптомы заболевания.
                        </p>
                    </div>
                </div>

                <div class="card mb-4 wow fadeIn" id="menuitem2">
                    <div class="card-body text-left">
                        <div class="card mb-4 wow fadeIn">
                            <img src="~/Images/sahdiabet.jpg" class="img-fluid" alt="">
                        </div>
                        <p class="h5 my-4">Диагноз - сахарный диабет</p>
                        <p>
                            Жить с диабетом нелегко – особенно первое время после постановки диагноза,
                            когда многому нужно учиться, а нервы и без того на пределе. Главная хорошая
                            новость состоит в том, что диабет можно держать под контролем. Ключ к успеху – понимание
                            сущности заболевания, тщательно продуманный распорядок и полное взаимопонимание внутри семьи.
                        </p>
                        <p>
                            Диабет 1-го типа подразумевает лечение инсулином и изменения в распорядке повседневной жизни.
                            Диабет требует лечения, контроля и образования. И молодые люди с диабетом, и их родители
                            должны понимать, что взяв на себя ответственность за лечение, таким образом, они берут
                            на себя ответственность за свою жизнь. Лучше вы будете контролировать диабет, чем диабет
                            будет контролировать вас. Как только вы научитесь контролировать диабет, вы сумеете
                            справиться и с другими аспектами своей жизни.
                        </p>
                        <p>
                            В первые несколько дней молодые люди (как и их родители) могут испытывать раздражение,
                            отчаяние и задаваться такими вопросами как «Почему я?» или «Почему мой ребенок?».
                            Свыкнуться с мыслью о том, что у вас диабет на самом деле нелегко. Потребуется время,
                            чтобы тщательно проанализировать свои чувства и постепенно обрести осознание и ощущение
                            той новой ситуации, в которой оказались теперь вы и члены вашей семьи. Вы, по всей
                            видимости, увидите, что на этом этапе врач и другой медперсонал по большей части просто
                            слушают вас и отвечают на ваши вопросы. Лишь спустя некоторое время они постепенно
                            перейдут к обучению вас азам жизни с диабетом.
                        </p>
                        <p>
                            Большинство из того, что вы услышите, окажется для вас в новинку, и поначалу не
                            все будет понятно. Однако, мало-помалу вся эта обширная и разрозненная
                            информация начнет складываться у вас в голове в цельную картину. К концу
                            второй недели вы начнете понимать, как инсулин и глюкоза в крови воздействуют
                            друг на друга. Вы узнаете, что уровень глюкозы у вас в крови постоянно меняется,
                            что идеальный уровень – большая редкость, даже для тех людей с диабетом, которые
                            находятся под тщательным контролем.
                        </p>
                    </div>
                </div>

                <div class="card mb-4 wow fadeIn" id="menuitem3">
                    <div class="card-body text-left">
                        <div class="card mb-4 wow fadeIn">
                            <img src="~/Images/insulinoterapia.jpg" class="img-fluid" alt="">
                        </div>
                        <p class="h5 my-4">Инсулинотерапия</p>
                        <h5 class="my-4">
                            <strong>ВИДЫ ИНСУЛИНОВ И ИХ РАЗЛИЧИЯ</strong>
                        </h5>
                        <p>
                            Сегодня в распоряжении врача есть несколько десятков различных инсулиновых препаратов.
                            Все их можно разделить на 3 основные группы (в соответствии с продолжительностью эффекта
                            и временем его наступления) на быстродействующие (короткого действия), средней
                            продолжительности действия и длительно действующие.
                        </p>
                        <p>
                            Быстродействующие инсулины - их еще называют простыми - вводят непосредственно перед
                            основными приемами пищи: завтраком, обедом и ужином. Эти инсулины всегда прозрачные.
                            Лечебный эффект проявляется через 15-30 минут после инъекции.
                        </p>
                        <p>
                            Максимальная активность (или пик действия, пик активности) приходится на интервал
                            между 1,5-3 часами от момента введения. Продолжительность действия (около 6-8 часов)
                            зависит от дозы инсулина: чем большее количество простого инсулина введено, тем дольше
                            он работает. К таким инсулинам относятся актрапид, хумулин-R, инсулрап,
                            берлинсулин-Н-нор-маль, хоморап, моносуинсулин и другие.
                        </p>
                        <p>
                            Препараты среднего и длительного действия вводят 1 -2 раза в сутки. Они предназначены
                            для поддержания определенного уровня инсулина в крови в течение всех суток, заменяя
                            тем самым, насколько это возможно, базальную секрецию инсулина. Такие инсулины, напротив,
                            всегда мутные. Мутность определяется вхождением в них специальных веществ, замедляющих
                            всасывание инсулина.
                        </p>
                        <p>
                            Инсулины средней продолжительности действия составляют самую большую группу препаратов,
                            отличающихся по своим основным характеристикам от других инсулинов. Они начинают
                            действовать через 1-2-3 часа после введения, имеют разные пики активности: между 4 и 8
                            или 6 и 12 часами от инъекции, и продолжительность действия - от 10-16 часов до 18-24.
                            К этим препаратам относятся семиленте, инсулонг, ленте, монотард, протофан, актрафан,
                            хумулин-N, НПХ-илетин-1, лен-те-илетин-1, ленте-илетин-2, базаль-инсулин и другие.
                            Инъекции этих инсулинов делают обычно 2 раза в сутки.
                        </p>
                        <p>
                            Длительно действующие инсулины начинают действовать через 4-6 часов, пик активности - между
                            14 и 22-24 часами, общая продолжительность действия - 28-36 часов. К ним относятся ультратард,
                            ультраленте-илетин-1, хуминсулин "лил-ли" ультралонг и другие.
                        </p>
                        <p>
                            Следует отметить, что на деле продолжительность действия инсулинов меньше указанной.
                            Конечно, мы можем найти остатки длительно действующего препарата в крови и через 30, и через
                            35 часов, но это только следы, неактивное его количество. Вот почему для воссоздания базисной
                            секреции инсулина эти препараты вводят не через 36, а через 24 часа. По той же причине инъекции
                            инсулинов средней продолжительности действия делают обычно два раза в сутки.
                        </p>
                        <p>
                            Инсулины различаются не только по продолжительности действия, но и по происхождению.
                            Есть инсулины животные и человеческие (правильнее сказать, идентичные человеческому).
                            Животные инсулины добывают из поджелудочной железы свиней и крупного рогатого скота.
                            По своей биологической структуре ближе всего к человеческому свиной инсулин, который
                            отличается от него только одной аминокислотой.
                        </p>
                        <p>
                            На сегодняшний день лучшими препаратами считаются человеческие инсулины. Половина
                            больных, нуждающихся в инъекциях, лечатся именно ими. Человеческие инсулины получают
                            двумя способами. Первый заключается в "переделке" свиного, в котором заменяют одну
                            аминокислоту. Это полусинтетический человеческий инсулин. При втором способе с помощью
                            методов генной инженерии, "заставляют" "Е. Coli" (кишечную палочку) синтезировать
                            инсулин, аналогичный человеческому.Полученный препарат называется биосинтетическим
                            человеческим инсулином. Человеческие инсулины имеют ряд преимуществ перед препаратами
                            животного происхождения: для достижения ими компенсации нужны меньшие дозы, процент возникновения
                            липодистрофий сравнительно небольшой, практически отсутствуют аллергические реакции.
                            Аллергия при применении животных инсулинов бывает потому, что они содержат чужеродный белок.
                            Его количество в препарате зависит от качества очистки инсулина в процессе изготовления.
                            В соответствии со способом и степенью очистки инсулины делят на традиционные, монопиковые
                            и монокомпонентные. Традиционные инсулины - первые инсулиновые препараты, очищаемые "старыми"
                            несовершенными способами. Неудивительно, что они содержали в себе множество самых различных белковых
                            примесей и часто вызывали аллергические реакции. В настоящее время эти инсулины практически не выпускаются.
                            Современные инсулины животного происхождения, напротив, являются высокоочищенными лекарственными
                            препаратами. Так, монопиковые инсулины содержат ненужных примесей всего одну тысячную часть на
                            каждую часть сухого вещества препарата. В монокомпонентных инсулинах содержание ненужных примесей
                            даже ниже предела обнаружения.
                        </p>
                        <p>
                            Несколько слов о том, что означают цифры и буквы на инсулиновых упаковках. Буквы "МС" рядом с
                            названием препарата свидетельствуют о том, что это высокоочищенный монокомпонентный инсулин; буквы
                            "НМ" - человеческий инсулин. Числа "40" или "100" обозначают соответствующее количество единиц инсулина
                            в 1 миллилитре. Инсулины высокой концентрации (100 единиц в 1 миллилитре) называются пенфильными.
                            Такие препараты предназначаются для инъекций специальными шприц - ручками.
                        </p>
                        <h5 class="my-4">
                            <strong>КУДА ВВОДИТЬ ИНСУЛИН</strong>
                        </h5>
                        <p>
                            Инъекции инсулина делают подкожно в те участки тела, где есть подкожно-жировая клетчатка: в живот,
                            переднюю поверхность бедер, заднебоковую поверхность плеч, верхнюю часть ягодиц, заднебоковую
                            поверхность спины выше талии.
                        </p>
                        <h5 class="my-4">
                            <strong>ОТ ЧЕГО ЗАВИСИТ ВСАСЫВАЕМОСТЬ ИНСУЛИНА</strong>
                        </h5>
                        <p>
                            Всасываемость инсулина зависит:
                            1. От места его введения: при введении в живот препарат начинает действовать через 10-15
                            минут, в плечо - через 15-20 минут, в бедро - через полчаса.
                            2. От физической нагрузки: если вы ввели инсулин в бедро, а затем решили пробежаться или,
                            например, прокатиться на велосипеде, то инсулин попадет в кровь гораздо быстрее, чем если
                            бы вы спокойно сидели в кресле перед телевизором или просматривали газеты.
                            3. От температуры тела: если вы замерзли, инсулин будет усваиваться медленнее, если только
                            что приняли горячую ванну, то быстрее.
                            4. От лечебных процедур, улучшающих микроциркуляцию крови в местах инъекций: к таким
                            процедурам относятся массаж, баня, сауна, прогревающие физиопроцедуры.
                            5. От наличия электролитных и обменных нарушений в организме. Например, изменение
                            химического состава крови в кислую сторону (состояние ацидоза), гипокалиемия ухудшают
                            всасывание инсулина.
                            Вам следует знать и о том, что препараты человеческого инсулина всасываются быстрее,
                            чем животного происхождения. Лучше всего всасываются инсулины концентрированные и нейтральные.
                        </p>
                        <h5 class="my-4">
                            <strong>ПОЧЕМУ ВАЖНО МЕНЯТЬ МЕСТА ИНЪЕКЦИЙ ИНСУЛИНА</strong>
                        </h5>
                        <p>
                            Если делать уколы в одно и то же место, то из-за постоянного микротравмирования тканей
                            могут образовываться рубчики, участки гипо- или гипертрофии подкожно-жировой клетчатки.
                            Врачи называют такие изменения липодистрофией. Чтобы избежать липодистрофий, нужно делать
                            уколы на расстоянии не менее 1,5 сантиметра друг от друга, а места инъекций чередовать.
                            Один месяц вводите инсулин в плечо, следующий - в бедро, потом - в живот и так далее.
                            Для лучшего контроля заведите тетрадь, где отмечайте дозы инсулина и места инъекций.
                        </p>
                        <h5 class="my-4">
                            <strong>ЕСЛИ ДОЗА ИНСУЛИНА МАЛА, ТО…</strong>
                        </h5>
                        <p>
                            Если доза препарата мала, то сахар в крови, естественно, будет высоким. А это, как мы
                            уже не раз писали, ведет к декомпенсации диабета. Постоянно некомпенсированный диабет
                            повышает риск развития кетоацидоза, диабетической комы и других осложнений.

                            Дозы инсулина всегда должны соответствовать потребности в нем организма, которая зависит
                            от режима и качества питания, от рода деятельности, от спортивных и прочих физических
                            нагрузок, от режима труда и отдыха, от общего физического состояния. Иначе говоря, врач
                            должен подобрать больному индивидуальную схему инсулинотерапии с учетом всех этих факторов,
                            что, к сожалению, не всегда бывает на практике.

                            Если больной прилагает колоссальные усилия для поддержания нормального уровня сахара,
                            а доза инсулина недостаточна, то появляется риск посадить больного на голодный энергетический
                            паек. Когда у больного не бывает гипогликемии - скорее всего, он получал и получает недостаточное
                            количество инсулина.

                            Адекватность доз инсулина важна для больного человека любого возраста, а для ребенка особенно.
                            Если доза не соответствует потребности организма, у ребенка возможно отставание в физическом и
                            умственном развитии. Больные сахарным диабетом должны стремиться к идеальной компенсации
                            заболевания, когда показатели содержания сахара в крови стабильно такие же, как и у здорового человека.
                        </p>
                        <h5 class="my-4">
                            <strong>ЧЕМ ЧРЕВАТА ПЕРЕДОЗИРОВКА ИНСУЛИНА?</strong>
                        </h5>
                        <p>
                            Передозировка инсулина опасна гипогликемией, то есть снижением уровня содержания сахара в
                            крови ниже нормы. Дозы инсулина должны соответствовать количеству получаемых углеводов и
                            физической нагрузке. В противном случае, гипогликемии неизбежны. Повторяющиеся гипогликемии
                            отрицательным образом сказываются на деятельности головного мозга, вызывая ухудшение памяти,
                            повышая утомляемость при умственных нагрузках, влияя на восприятие действительности и смену настроений.

                            Если гипогликемии повторяются в одно и то же время, задумайтесь почему. Может быть, вы опаздываете
                            с едой? Или высока доза инсулина, подобранная к этому интервалу времени? Посоветуйтесь с врачом.

                            Проконтролируйте уровень содержания сахара в течение суток несколько дней подряд. Проанализируйте
                            ситуацию, отыщите причину гипогликемии, и тогда вы сумеете принять верное решение.
                        </p>
                        <h5 class="my-4">
                            <strong>КАК ХРАНИТЬ ИНСУЛИН?</strong>
                        </h5>
                        <p>
                            Инсулин - это белковый препарат. Поэтому он нуждается в особых условиях хранения.
                            При длительном хранении препарата оптимальная температура воздуха должна находиться в
                            пределах от +2 до +8 °С. Инсулин нельзя замораживать, подвергать воздействию прямых солнечных
                            лучей, оставлять рядом с источниками тепла, согревать в горячей воде.

                            Инсулин, которым вы пользуетесь, можно хранить при комнатной температуре. Хранившийся в
                            холодильнике инсулин перед применением должен 2-3 часа согреваться при комнатной температуре.
                            Если вы забыли вынуть флакон из холодильника вовремя и теперь торопитесь, можно согреть его в руках.
                            Помните, что инъекции холодным инсулином болезненны и препарат всасывается дольше обычного.

                            Перед введением инсулина обратите внимание на наличие осадка на дне флакона и на изменение окраски
                            содержимого. При обнаружении того или другого воздержитесь от использования лекарства из этого флакона.

                            Получая в аптеке инсулин, всегда обращайте внимание на срок его годности. Никогда не применяйте
                            просроченное лекарство.
                        </p>
                    </div>
                </div>

                <div class="card mb-4 wow fadeIn" id="menuitem4">
                    <div class="card-body text-left">
                        <div class="card mb-4 wow fadeIn">
                            <img src="~/Images/pitanie.jpg" class="img-fluid" alt="">
                        </div>
                        <p class="h5 my-4">Питание</p>
                        <p>
                            Здоровое питание для современного человека это уже не просто рекомендация лечащего врача,
                            а веление времени. Если индивидуум хочет быть здоровым и успешным, тогда ему придется
                            думать о том, как и что он ест. Особенно это актуально у пациентов с сахарным диабетом,
                            ведь компенсация этого заболевания напрямую связана с предпочтениями в еде.
                        </p>
                        <p>
                            - количество и вид углеводов: простые или сложные, то есть легко усваиваются или медленно.
                            В жидком виде углеводы всасываются быстро и полностью (фруктовый или овощной сок уже через
                            10-15 минут вызовет гипергликемию, а фруктоза и клетчатка содержащиеся в цельном исходном
                            сырье замедлят этот процесс). Не рекомендуется съедать за один прием более 5-6 ХЕ, так как
                            гипергликемизирующий эффект углеводистой пищи будет очень высок.
                        </p>
                        <p>
                            - консистенция пищи: наличие в пище вязких, «тягучих», растворимых волокон или клетчатки
                            (гуар, пектин, бета-глюкан) замедляет всасывание. Интересный факт: свекла и морковь сладковаты,
                            их можно есть практически без ограничения, т.к. они содержат много клетчатки. Но приготовленный
                            натуральный сок из этих овощей на несколько порядков увеличит их сахароповышающий эффект. Также
                            как картофель в отварном виде более медленно повысит уровень гликемии, чем картофельное пюре.
                            Т.е. констатируем: измельчение, превращение в кашицеобразное или жидкое состояние (сок)
                            рекомендуемого продукта превращает его в нежелательный.
                        </p>
                        <p>
                            - температура пищи: охлажденные продукты или блюда комнатной температуры способствуют более
                            медленному подъему уровня гликемии. Отдельного комментария заслуживает мороженое, которое,
                            хотя и очень сладкое, так как содержит сахарозу, жирное и холодное, а эти два обстоятельства
                            существенно замедляют всасывание глюкозы. По этой причине не стоит купировать мороженым гипогликемию.
                            Его можно употреблять в количестве 50-70 грамм (1 ХЕ) в течение дня или на десерт, но помнить,
                            что избыток насыщенных жиров вреден (ожирение, атеросклероз).
                        </p>
                        <p>
                            - последовательность попадания пищи в желудочно-кишечный тракт: балластные вещества обладают
                            «сахаропонижающими» свойствами. Пищевые продукты, богатые клетчаткой, ограничивают прирост уровня
                            глюкозы в периферической крови после еды.
                        </p>
                        <p>
                            - комбинированные блюда: белки и жиры, образуя с углеводами сложные комплексы, тем самым замедляют
                            их всасывание (например, гречневая каша с обжаренным луком и грибами, макароны с мясом и т.п.).
                        </p>
                        <p>
                            Это реальная и эффективная помощь, так как чаще люди употребляют не отдельный продукт, а комбинированные
                            кушанья: борщ на первое, мясо с овощами и хлеб на второе. Но ведь углеводы всасываются не отдельно
                            из каждого продукта, а из этой пищевой смеси, попавшей в желудок. Без горячего невозможно сохранить
                            здоровый желудок. При приеме горячей пищи раздражаются определенные рецепторы и выделяются ферменты для
                            нормального пищеварения. Слишком горячая пища может вызвать ожог слизистой, что спровоцирует воспаление.
                            Оптимальная температура для горячих блюд и напитков — 50-60 градусов. Что же касается их необыкновенной пользы,
                            во многих странах их вообще не едят. Можно ли больным диабетом, которые любят первые блюда, заправлять их вермишелью,
                            рисом и картофелем или же только малокрахмалистыми овощами (морковью, молодым горошком, разными сортами капусты)?
                            Совет таков: смело добавлять медленноусваиваемые углеводы (например, картофель, лапшу или крупы), но использовать в
                            приготовление лучше один вид из этих ингредиен¬тов, чтобы блюдо не получилось «а-ля солянка». И еще одно пожелание в
                            рамках рекомендаций: чтобы эти блюда были как можно менее жирными. Это достигается соблюдением следующих несложных правил:
                        </p>
                        <div class="text-left">
                            <p>- готовить их на основе постного мяса или рыбы</p>
                            <p>- после охлаждения снимать с бульона верхний слой жира</p>
                            <p>- стараться готовить без поджарок, а если используете, то обжаривайте не больше 1-3-х минут на минимальном количестве масла</p>
                            <p>- не есть первые блюда с “жирной сметаной, в качестве замены использовать нежирный мягкий творог с 2,5 % ряженкой</p>
                            <p>- от молочного супа с вермишелью лучше отказаться. Правильно подобранные ингредиенты – выход для тех страдающих сахарным диабетом, кто заботиться о своем здоровье и хочет жить долго и счастливо.</p>
                        </div>

                        <div class="card mb-4 wow fadeIn">
                            <img src="~/Images/pyramid.jpg" class="img-fluid" alt="">
                        </div>
                        <h5 class="my-4">
                            <strong>Активная пирамида питания</strong>
                        </h5>
                        <p>
                            Пирамида рационального питания – это схематическое представление, которое
                            позволяет объяснить принципы здорового питания детям и взрослым. Питание
                            людей, страдающих сахарным диабетом, должно основываться на этой пирамиде,
                            также как и питание лиц, не страдающих данным заболеванием. Высота ячейки
                            отражает важность группы. Чем больше ячейка, тем важнее этот тип пищи.
                            Исключение составляет группа, находящаяся наверху пирамиды. Речь идет о
                            продуктах питания, которые не входят в другие ячейки. Они не являются необходимыми.
                        </p>
                        <div class="card mb-4 wow fadeIn">
                            <img src="~/Images/upraznenia.jpg" class="img-fluid" alt="">
                        </div>
                        <p class="h6 my-4">Физические упражнения</p>
                        <p>
                            Самую большую ячейку этой пирамиды питания занимает ячейка с физическими
                            упражнениями. Достаточные физические нагрузки необходимы для здорового
                            образа жизни, особенно, для больного сахарным диабетом: они значительно
                            улучшают чувствительность к инсулину. Физическая активность также важна тем,
                            у кого имеется избыточный вес.
                        </p>
                        <p class="h6 my-4">Насыщение жидкостью</p>
                        <p>
                            Важно принимать достаточное количество жидкости. В общем, рекомендуется выпивать
                            1,5 литра в день: воды, кофе, чая, овощного бульона и т.д. Эти напитки
                            не оказывают никакого влияния на содержание глюкозы в крови и практически
                            не имеют калорий (без добавок).
                        </p>
                        <p class="h6 my-4">Продукты из злаков и картофель</p>
                        <p>
                            Данная группа продуктов питания содержит большое количество углеводов в
                            виде крахмала. Эта группа богата клетчаткой, водорастворимыми витаминами
                            (особенно такими, как витамин В1) и минералами (калий, железо и т.д.).
                            предпочтительно употреблять в пищу продукты из цельного зерна. Содержание
                            жира в таких продуктах минимально. Эта ячейка – довольно широкая, а значит
                            таких продуктов должно быть много в нашем рационе (от 6 до 11 порций в день,
                            в зависимости от Вашего суточного рациона).
                        </p>
                        <p class="h6 my-4">Овощи</p>
                        <p>
                            В овощах содержится меньше углеводов и жиров. Но овощи богаты другими
                            важными элементами: витаминами (особенно В и С), минералами и клетчаткой,
                            что чрезвычайно важно для нашего организма. Наше питание также должно быть
                            разнообразным, так как ни один овощ не содержит всех необходимых питательных
                            веществ. Рекомендуется употреблять не менее 300 г. овощей ежедневно.
                        </p>
                        <p class="h6 my-4">Фрукты</p>
                        <p>
                            Фрукты содержат значительное количество углеводов (в особенности, фруктозы),
                            они также богаты клетчаткой, витаминами и минералами. Фрукты и овощи не
                            являются взаимозаменяемыми продуктами, поскольку содержат разные питательные
                            вещества. Рекомендуют употреблять от 2 до 3 фруктов в день, с учетом содержания
                            в них углеводов.
                        </p>
                        <p class="h6 my-4">Молочные продукты</p>
                        <p>
                            Молоко содержит лактозу, или молочный сахар, те. углевод. Поскольку сахар
                            растворим в воде, жидкие продукты содержат больше углеводов. Чем более
                            «сухим» является молоко, тем меньше в нем сахара. Сыр, к примеру, содержит
                            значительное количество жиров и белков, но совсем не много углеводов. Жиры,
                            присутствующие в молочных продуктах, не рекомендуют к употреблению. Следует отдавать
                            предпочтение обезжиренным или полужирным продуктам. Молотые продукты – важный источник
                            витамина В2 и кальция Рекомендуют употреблять 2-3 молочных продукта и кусок сыра ежедневно.
                        </p>
                        <p class="h6 my-4">Мясо, рыба, яйца и заменяющие их продукты</p>
                        <p>
                            Данная группа продуктов питания – основной источник белков. Также белок содержится в
                            бобовых и орехах. Но если мясо и рыба содержат мало углеводов, то уровень содержания
                            углеводов в бобовых и орехах не так уж ничтожен. Не забывайте, что продукты питания,
                            приготовленные в панировке, содержат большое количество крахмала. Что же касается содержания
                            витаминов и минералов, то эти продукты также отличаются друг от друга. И вновь повторим,
                            что рацион питания должен быть разнообразным. Мясо, например, богато железом, которого мало
                            в рыбе. За исключением сои и рыбы, жиры данной группы относятся к насыщенному (патогенному)
                            типу, в связи с чем необходимо ограничивать их употребление.
                        </p>
                        <p class="h6 my-4">Жиры</p>
                        <p>
                            Жиры содержатся во всех типах растительных масел, в маргарине и сливочном масле.
                            Общее количество жиров при режиме здорового питания (маленькая ячейка) должно быть
                            ограничено! Важно сделать правильный выбор: отдавать предпочтение следует насыщенным
                            жирам (они содержатся в растительных маслах, морепродуктах и т.д.). Продукты питания
                            этой ячейки не содержат углеводов.
                        </p>
                        <p class="h6 my-4">Остаточная группа</p>
                        <p>
                            Остаточная группа состоит из большого количества излюбленных продуктов: кондитерские
                            изделия, печенье, выпечка, алкогольные напитки, кола и т.д. Энергетическая ценность
                            данных продуктов довольно велика (людям с лишним весом следует быть особенно внимательными
                            при употреблении данных продуктов). И, напротив, в них содержится чрезвычайно мало
                            витаминов и минералов. Большая часть этих продуктов содержит много жиров и углеводов,
                            что необходимо учитывать любому пациенту с сахарным диабетом. Продукты, подслащенные
                            сахаром, можно употреблять в пищу, но нужно следить за содержанием глюкозы в крови.
                        </p>
                    </div>
                </div>

                <div class="card mb-4 wow fadeIn" id="menuitem5">
                    <div class="card-body text-left">
                        <div class="card mb-4 wow fadeIn">
                            <img src="~/Images/breadunits.jpg" class="img-fluid" alt="">
                        </div>
                        <p class="h5 my-4">Расчет Хлебных Единиц</p>
                        <p>
                            Как известно уровень сахара в крови повышают только те продукты, которые содержат
                            углеводы. То есть, если съесть бутерброд с маслом, через 30-40 минут уровень
                            сахара в крови повышается, и это происходит от хлеба, а не от масла. Если этот
                            же бутерброд намазать не маслом, а медом, то уровень сахара повысится еще раньше — через
                            10-15 минут, а через 30-40 минут будет вторая волна повышения сахара — уже от хлеба.
                            Но если от хлеба уровень сахара в крови повышается плавно, то от меда (или сахара) он,
                            что называется, подскакивает, что очень вредно для больного сахарным диабетом. И все это
                            потому, что хлеб относится к медленноусвояемым углеводам, а мед и сахар — к быстроусвояемым.
                        </p>
                        <p>
                            Поэтому человек, живущий с диабетом, отличается от других людей тем, что ему приходится вести
                            учет потребления продуктов, содержащих углеводы, и наизусть помнить, какие из них быстро,
                            а какие медленно повышают уровень сахара в крови.
                        </p>
                        <p>
                            Но как все-таки правильно определить необходимую норму продуктов, содержащих углеводы?
                            Ведь все они очень разнятся между собой по своим полезным и вредным свойствам, составу,
                            калорийности. Померять любым подручным домашним способом, например, чайной ложкой или
                            большим стаканом, данные важнейшие параметры пищи невозможно. Точно также трудно определить
                            и нужный объем суточной нормы продуктов. Чтобы облегчить задачу, диетологи придумали некую
                            условную единицу - хлебную единицу, позволяющую довольно быстро представить углеводную ценность продукта.
                        </p>
                        <p>
                            В различных источниках ее могут называть по-разному: крахмальная единица, углеводная единица,
                            замена и т. д. Это сути не меняет, речь идет об одном и том же. Чаще встречается термин
                            «хлебная единица» (аббревиатура ХЕ). ХЕ была введена для больных сахарным диабетом, получающих
                            инсулин. Ведь для них особенно важно соблюдать ежедневную суточную норму углеводов, соответствующую
                            вводимому инсулину, иначе может возникнуть резкий скачок уровня сахара в крови (гипер- либо гипогликемия).
                            Благодаря разработке системы ХЕ больные сахарным диабетом получили возможность правильно составлять меню,
                            грамотно заменяя одни продукты, которые содержат углеводы другими.
                        </p>
                        <p>
                            ХЕ — это как удобная своеобразная «мерная ложка» для подсчета углеводов. За одну хлебную единицу
                            приняли 10-12 г усвояемых углеводов. Почему хлебная? Потому что содержится в 1 куске хлеба весом
                            25 г. Это обычный кусок, который получается, если от буханки хлеба в виде кирпичика отрезать пластину
                            толщиной 1 см и разделить ее пополам — так, как обычно нарезают хлеб дома и в столовой.
                        </p>
                        <p>
                            Система ХЕ является международной, что позволяет людям, живущим с диабетом, ориентироваться с
                            оценкой углеводной ценности продуктов из любой страны мира.
                        </p>
                        <p>
                            В разных источниках встречаются и чуть другие цифры содержания углеводов в 1 ХЕ — 10-15 г.
                            Важно знать, что ХЕ не должна показывать какое-то строго определенное число, а служит для
                            удобства подсчета углеводов, употребленных в пищу, что в результате позволяет подбирать требуемую
                            дозу инсулина. Используя систему ХЕ, можно отказаться от постоянного взвешивания продуктов питания.
                            ХЕ позволяет определить количество углеводов лишь с помощью взгляда, с помощью удобных для восприятия
                            объемов (кусок, стакан, штука, ложка и т. д.), прямо перед завтраком, обедом или ужином. Узнав
                            информацию о том, сколько ХЕ вы собираетесь съесть за прием, измерив уровень сахара в крови до
                            еды, вы можете ввести соответствующую дозу инсулина короткого действия и затем проверить уровень
                            сахара в крови после еды. Это снимет большое количество практических и психологических проблем и
                            сэкономит ваше время в будущем.
                        </p>
                        <p>
                            Одна ХЕ, не компенсированная инсулином, условно повышает уровень сахара в крови в среднем на 1,5—1,9
                            ммоль/л и требует для усвоения ориентировочно 1-4 ЕД инсулина, что можно выяснить из вашего
                            дневника самоконтроля.
                        </p>
                        <p>
                            Обычно хорошее владение ХЕ необходимо больным с сахарным диабетом I типа, тогда как при
                            сахарном диабете II типа большее значение имеют суточная калорийность и правильное распределение
                            употребления углеводов по всем приемам пищи в течении дня. Но и в этом случае для быстрой замены
                            тех или иных продуктов определение количества ХЕ не будет лишним.
                        </p>
                        <p>
                            Итак, хотя единицы носят название «хлебные», выразить в них можно не только количество хлеба,
                            но и любых других продуктов, которые содержат углеводы. Плюс в том, что не надо взвешивать!
                            Можно отмерять ХЕ чайными и столовыми ложками, стаканами, чашками и т.п.
                        </p>
                        <p>
                            Рассмотрим, как определять количество ХЕ в различных продуктах.
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в мучных продуктах</p>
                        <p>
                            Один кусок любого хлеба (и черного, и белого, только не сдобного) = 1 ХЕ.
                            Это самый обыкновенный кусок хлеба, который вы на автомате отрезаете от буханки хлеба.
                            Если этот самый кусок хлеба высушить, получившийся сухарь все равно будет равняться 1 ХЕ,
                            ведь испарилась только вода, а все углеводы остались на месте.
                            Теперь измельчим этот сухарик и получим 1 ст. ложку панировочных сухарей и все ту же 1 ХЕ.
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в муке и крахмале</p>
                        <p>
                            1 ХЕ содержится в 1 ст. ложке муки или крахмала.
                            Если вы решили приготовить дома блины или пироги, проведите простой подсчет: например,
                            5 ложек муки, 2 яйца, вода, сахарозаменитель. Из всех перечисленных продуктов только мука
                            содержит ХЕ. Подсчитайте, сколько испекли блинов. В среднем получается пять, тогда один блин
                            будет содержать 1 ХЕ; Если вы добавите в тесто сахар, а не заменитель, то подсчитайте и его.
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в вермишели</p>
                        <p>
                            В 3 ст. ложках сваренных макарон содержатся 2 ХЕ. В отечественных макаронах больше клетчатки,
                            чем в импортных, а, как известно, неусвояемые углеводы полезнее для организма.
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в крупах</p>
                        <p>
                            1 ХЕ содержится в 2 ст. ложках любой вареной крупы. Для пациента с I типом сахарного диабета
                            вид крупы имеет меньшее значение, чем ее количество. Конечно, в тонне гречки содержится
                            несколько больше углеводов, чем в тонне риса, но никто не ест кашу тоннами. В рамках одной
                            тарелки такая разница настолько мизерна, что ее можно не учитывать. Гречка не лучше и не хуже
                            любой другой крупы. В тех странах, где гречка не растет, пациентам с сахарным диабетом рекомендуют рис.
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в бобовых</p>
                        <p>
                            Горох, фасоль и чечевицу по системе ХЕ можно практически не учитывать, поскольку 1 ХЕ содержится в 7
                            ст. ложках этих продуктов. Если вы сможете съесть более 7 ст. ложек гороха, то прибавьте 1 ХЕ.
                        </p>
                        <p class="h6 my-4">Молочные продукты</p>
                        <p>
                            Молоко по своему физическому составу - это смесь жиров, белков и углеводов в воде. Жиры содержатся
                            в масле, сметане и жирных сливках. В этих продуктах нет ХЕ, поскольку нет углеводов. Белки — это творог,
                            в нем тоже нет ХЕ. А вот оставшаяся сыворотка и цельное молоко содержат углеводы. Один стакан молока = 1 ХЕ.
                            Молоко обязательно необходимо учитывать и в тех случаях, когда его добавляют в тесто или в кашу. Масло,
                            сметану и жирные сливки считать не нужно (но если вы купили сливки в магазине, считайте их ближе к молоку).
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в сладостях</p>
                        <p>
                            1 ст. ложка сахарного песка = 1 ХЕ. Учитывайте, если добавляете в блины и т. п. 3-4 кусочка сахара-рафинада = 1 ХЕ
                            (употреблять в случае гипогликемии).
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в сладостях</p>
                        <p>
                            1 ст. ложка сахарного песка = 1 ХЕ. Учитывайте, если добавляете в блины и т. п. 3-4 кусочка сахара-рафинада = 1 ХЕ
                            (употреблять в случае гипогликемии).
                        </p>
                        <p>
                            Одна порция мороженого содержит около 1,5-2 ХЕ (в 65-100 г). Допустим его прием в качестве десерта
                            (то есть сначала надо съесть обед или салат из капусты, а потом — на десерт — сладкое).
                            Тогда всасывание углеводов будет проходить медленнее.
                            При этом следует запомнить, что сливочное мороженое лучше фруктового, так как содержит больше
                            жиров, которые замедляют всасывание углеводов, и уровень сахара в крови повышается медленнее.
                            А фруктовое мороженое есть не что иное, как замороженная сладкая вода, которая с большой скоростью
                            растает в желудке и быстренько всосется, существенно повысив уровень сахара в крови. Мороженое не
                            рекомендуется при наличии избыточной массы тела, так как оно достаточно калорийно.
                            Для больных сахарным диабетом II типа, для имеющих лишний вес и для тех, кто по каким-либо причинам
                            не хочет тратить время на всякие расчеты и самоконтроль, рекомендуется исключить продукты, содержащие
                            быстроусвояемые углеводы, из постоянного употребления и оставить их для купирования гипогликемических состояний.
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в мясных и рыбных продуктах</p>
                        <p>
                            Эти продукты не содержат углеводов, поэтому их не нужно учитывать по ХЕ. Учет необходим только при особых
                            способах приготовления. Например, при приготовлении котлет в фарш добавляется хлеб, размоченный в молоке.
                            Перед тем, как пожарить, котлеты обкатывают в панировочных сухарях, а рыбу — в муке или тесте (кляре).
                            Нужно также учитывать хлебные единицы дополнительных ингредиентов.
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в корнеплодах</p>
                        <p>
                            В ведении учета по ХЕ нуждается картофель. Одна средней величины картофелина = 1ХЕ. В зависимости, от
                            способа приготовления изменяется лишь скорость всасывания углеводов в желудке. Быстрее всего увеличится
                            уровень сахара в крови от пюре на воде, медленнее – жаренная картошка. Другие корнеплоды можно не учитывать,
                            если вы используете их в своем рационе в количествах, не превышающих 1 ХЕ: три крупные моркови = 1 ХЕ,
                            одна крупная свекла = 1 ХЕ.
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в ягодах и фруктах  - 1 ХЕ содержится:</p>
                        <p>
                            в половине грейпфрута, банана, початка кукурузы;
                            одном яблоке, апельсине, персике, одной груше, хурме;
                            трех мандаринах;
                            одном ломтике дыни, ананаса, арбуза;
                            трех-четырех абрикосах или сливах.
                            Более мелкие плоды считают чайными блюдцами без горки: клубника, вишня, черешня — одно блюдце = 1 ХЕ.
                            Самые мелкие ягоды: малина, земляника, голубика, черника, брусника, смородина, ежевика и т. п. — одна
                            чашка ягод = 1 ХЕ. Виноград содержит весьма значительное количество углеводов, исходя из этого 3-4 крупных
                            виноградины — это уже 1 ХЕ. Эти ягоды лучше есть при пониженном сахаре (гипогликемии).
                            Если вы высушиваете фрукты, то помните, что испарению подвластна лишь вода, а количество углеводов не меняется.
                            Поэтому в сухофруктах тоже необходимо считать ХЕ.
                        </p>
                        <p class="h6 my-4">Содержание ХЕ в напитках - 1 ХЕ содержится в:</p>
                        <p>
                            1/3 стакана виноградного сока (поэтому его следует пить только при пониженном сахаре);
                            1 стакане кваса или пива;
                            1/2 стакана яблочного сока.
                            Минеральная вода и диетические газировки не содержат ХЕ. А вот обычную сладкую газированную воду и лимонад надо считать.
                        </p>
                    </div>
                </div>

                <div class="card mb-4 wow fadeIn" id="menuitem6">
                    <div class="card-body text-left">
                        <div class="card mb-4 wow fadeIn">
                            <img src="~/Images/products.jpg" class="img-fluid" alt="">
                        </div>
                        <p class="h5 my-4">О пользе продуктов при диабете</p>
                        <h5 class="my-4">
                            <strong>Сложные углеводы: польза клетчатки в питании диабетиков</strong>
                        </h5>
                        <p>
                            Если говорить проще, то все углеводы – это сахар, однако не все они
                            опасны при сахарном диабете. Простые углеводы нельзя употреблять людям
                            с данным заболеванием, а вот некоторые сложные – врачи настоятельно рекомендуют
                            ввести в рацион. Почему так? Будем разбираться.
                        </p>
                        <h5 class="my-4">
                            <strong>Значение сложных и простых углеводов</strong>
                        </h5>
                        <p>
                            Как только пища попадает в человеческий организм, все содержащиеся в ней простые
                            углеводы усваиваются очень быстро, а карбогидраты трансформируются в сахар.
                            После того, как организм получит нужное его количество, он начинает запасать излишки
                            и превращать их в жир. При перенасыщенном углеводами постоянном режиме питания у
                            человека развивается ожирение. Следует отметить, что большая часть продуктов,
                            потребляемых людьми, это и есть простые углеводы.
                        </p>
                        <p>
                            Сахарный диабет обостряет данную ситуацию, потому чтоб глюкоза плохо усваивается
                            организмом и при неконтролируемом потреблении пищи его работа дает сбои. Сложные
                            углеводы достаточно питательны, замечательно утоляют голод, плохо растворяются в
                            воде, содержат не много сахара и медленно усваиваются. Они представляют собой
                            сложную цепочку как минимум из трех молекул сахара, к ним относят гликоген, пектины,
                            крахмал и клетчатку.
                        </p>
                        <h5 class="my-4">
                            <strong>Особенности пищевых волокон</strong>
                        </h5>
                        <p>
                            Проводимые в данной отрасли исследования свидетельствуют о том, что клетчатка при
                            диабете наименее опасна из всех существующих сложных углеводов. Очень многие современные
                            диеты для снижения массы тела используют в качестве базовых компонентов такие продукты,
                            в состав которых входит много клетчатки.
                        </p>
                        <p>
                            Волокнистая пища способствует снижению глюкозы в крови и поэтому ей необходимо уделить
                            особое внимание при формировании здорового питания диабетиков. Однако следует учитывать,
                            что у клетчатки есть одна не очень приятная особенность, ее нельзя слишком быстро потреблять,
                            потому что организму будет достаточно сложно ее переработать. Пищевые волокна могут существенно
                            перегрузить кишечник, что не желательно при диабете.
                        </p>
                        <h5 class="my-4">
                            <strong>Какие продукты содержат много клетчатки</strong>
                        </h5>
                        <p>
                            Ученые установили, что ее суточная норма должна составлять около 25 – 40 граммов, но среднестатистический
                            человек потребляет в 2 раза меньше нужного объема. Вы не найдете клетчатку в яйцах, молоке, мясе и птице,
                            потому что в основном она содержится в продуктах растительного происхождения.
                        </p>
                        <p>
                            Источниками пищевых волокон являются кожура фруктов и овощей, отруби из цельного зерна, шелуха бобов и
                            зерен. Поэтому всем, кто хочет восполнить недостаточное количество потребляемой клетчатки, следует
                            знать, что помогут в этом деле цельные зерна, рисовые отруби, гречиха, бобовые, орехи, семена, свежие
                            фрукты и овощи.
                        </p>

                        <h5 class="my-4">
                            <strong>Клетчатка при сахарном диабете – в чем польза</strong>
                        </h5>
                        <p>
                            По своему типу все пищевые волокна можно разделить на две основные группы:
                            - нерастворимые;
                            - растворимые.
                        </p>
                        <p>
                            Так вот при диабете особенно полезно употребление растворимой клетчатки, поскольку она
                            замедляет процесс опорожнения желудка, переваривания сахара, превращения его в глюкозу.
                            Она также снижает концентрацию холестерина в крови, а это является отличной профилактикой
                            сердечнососудистых болезней.
                        </p>
                        <p>
                            Важно получать пищевые волокна из разных продуктов, например, овощная клетчатка снижает
                            содержание гомоцистеина и нормализует давление, фруктовая – выводит холестерин и убирает
                            лишнее с бедер и талии. А вот потребление цельных зерен положительно сказывается на кровяном
                            давлении и индексе тела. Можно использовать клетчатку в виде БАДов, но она не даст столь хорошего
                            эффекта, как натуральные продукты.
                        </p>

                        <h5 class="my-4">
                            <strong>Вода препятствует развитию сахарного диабета</strong>
                        </h5>
                        <p>
                            Избавиться от болевых ощущений человеку помогают современные лекарственные средства,
                            которые моментально снимают боль. Но заболевание от этого никуда не исчезает, а начинает
                            прогрессировать и развиваться. Действие химических лекарственных препаратов и недостаток воды
                            очень пагубно сказывается на клетках. Доказано, что если регулярно выпивать в день около двух
                            литров чистой родниковой воды с восстановленной структурой, то можно предотвратить многие болезни
                            (в том числе и диабет) и даже излечиться от уже имеющихся недугов.
                        </p>
                        <p>
                            Зачастую, человек старается заменить простую чистую воду чаем, кофе, компотом и другими напитками,
                            но все они не способны полностью удовлетворить потребность организма в воде. Это особенно касается
                            маленьких детей, которых взрослые сознательно приучают к различным сокам, газировкам и вкусовым
                            напиткам, оставляя воду на самом последнем месте, но ее ни в коем случае нельзя недооценивать!
                            Ведь только простая чистая вода (еще лучше родниковая) является для организма жидкостью, а все
                            остальное (тот же чай, компот и сок) – едой. Сырую воду невозможно заменить ни одним другим напитком,
                            и об этом не нужно забывать.
                        </p>

                        <h5 class="my-4">
                            <strong>Минеральная вода при сахарном диабете</strong>
                        </h5>
                        <p>
                            При лечении диабета определяющим фактором является своевременное поступление в кровь инсулина, ведь
                            он становится проводником глюкозы в клетки организма. Некоторые современные препараты способны облегчить
                            жизнь многих людей, страдающих диабетом. Но известно также, что самым безопасным и доступным средством,
                            которое способно увеличить выработку необходимого гормона, является минеральная вода без газа, содержащая
                            целый комплекс полезных веществ: фтор, кальций, натрий, железо, магний и т.д.
                        </p>
                        <p>
                            Все дело в том, что минеральная вода способствует улучшению работы поджелудочной железы и оказывает
                            положительное действие на водно-солевой обмен пациента. Еще раз отметим, что для эффективного улучшения
                            состояния больного нельзя использовать газированную воду, потому что попадание газов может повлечь за собой
                            неприятные последствия: увеличение кислотности, появление метеоризма и пр.
                        </p>

                        <h5 class="my-4">
                            <strong>Польза арбуза</strong>
                        </h5>
                        <p>
                            Если арбуз при диабете включается в диету в умеренном количестве, он обычно не вызывает никаких проблем со здоровьем.
                            При этом польза его бесценна. Содержащаяся в нем фруктоза полезна для диабетиков тем, что ее небольшое количество
                            усваивается организмом без затрат инсулина. К тому же арбуз — поставщик полезных витаминов и минералов.
                            Он содержит: тиамин, ниацин, рибофлавин, фолиевую и пантотеновую кислоты, витамины А, С и В6, а также селен,
                            фтор, магний, фосфор, марганец, калий и кальций. Благодаря такому высокому содержанию питательных веществ,
                            арбуз при диабете способствует улучшению здоровья.
                        </p>
                        <p>
                            Медики рекомендуют съедать 600-800 граммов арбуза в день. Поскольку сезон очень короток, больным диабетом
                            первого типа имеет смысл ограничить на время потребление других углеводистых продуктов и наслаждаться спелой
                            и ароматной мякотью арбуза. Чтобы избежать резких колебаний сахара в крови, дневную норму следует делить на
                            несколько приемов, отрезая себе аппетитные кусочки весом по 150-200 граммов 3-4 раза в день.
                        </p>
                        <h5 class="my-4">
                            <strong>
                                Орехи при диабете и их польза
                            </strong>
                        </h5>
                        <p>
                            Орехи – это продукты, которые не только обладают удивительным вкусом, но и имеют невероятный лечебный эффект в
                            борьбе со многими заболеваниями. Они ценятся тем, что содержат в себе большое количество витаминов, микроэлементов,
                            минералов, белков и клетчатки, что делает их очень полезной пищей. Орехи являются важным элементом сбалансированной
                            диеты, поскольку в них содержатся ненасыщенные жирные кислоты, витамины С,Е и В, а также магний, калий, фосфор и
                            другие полезные микроэлементы.
                        </p>
                        <p>
                            Орехи имеют низкий гликемический индекс, который показывает скорость всасывания в кровь сахара, получаемого из пищи.
                            Продукты с такими низкими показателями способствуют замедлению роста уровня глюкозы в крови. Руководствуясь этими данными,
                            ученые сделали выводы, что ежедневное употребление орехов при диабете приводит к улучшению показателей наличия сахара в крови
                            и предотвращает развитие осложнений, связанных с этим заболеванием.
                        </p>
                        <p>
                            Смесь из сухих, сырых несоленых или жареных орехов способствует не только контролю гликемического индекса, но также
                            и помогает больным с таким недугом удерживать свой вес в пределах нормы. После изучения различного рода дополнений к
                            диете для пациентов, врачи пришли к выводу, что лучший эффект орехов при диабете достигается сочетанием фисташек, сырого
                            миндаля, фундука, арахиса, пекана, кешью, ореха грецкого и макадами. У людей, которые употребляли такую смесь, заметно
                            улучшился уровень сахара в крови, а также снизился холестерин липопротеинов низкой плотности так называемый «плохой холестерин».
                        </p>
                    </div>
                </div>

                <div class="card mb-4 wow fadeIn" id="menuitem7">
                    <div class="card-body text-left">
                        <div class="card mb-4 wow fadeIn">
                            <img src="~/Images/additional.jpg" class="img-fluid" alt="">
                        </div>
                        <p class="h5 my-4">Дополнительная информация для диабетиков</p>
                        <h5 class="my-4">
                            <strong>Как часто нужно измерять уровень глюкозы в крови?</strong>
                        </h5>
                        <p>
                            Контроль глюкозы в крови необходимо проводить ежедневно:
                        </p>
                        <p>- перед каждым основным приемом пищи</p>
                        <p>- перед сном</p>
                        <p>- периодически через 1,5 – 2 часа после еды и ночью</p>
                        <h5 class="my-4">
                            <strong>Уровень глюкозы в крови нужно контролировать чаще в следующих случаях:</strong>
                        </h5>
                        <p>- во время вирусных или инфекционных заболеваний</p>
                        <p>- при занятиях спортом</p>
                        <p>- при ухудшении самочувствия (тошнота, рвота, головокружение)</p>
                        <p>- при подозрении на ночную гипогликемию</p>
                        <p>Каждые 3 месяца необходимо измерять гликированный гемоглобин (HbA1с). Оптимальный уровень (HbA1с) для детей с сахарным диабетом 1 типа < 7.5 %</p>

                        <h5 class="my-4">
                            <strong>Есть ли разница, куда колоть инсулин?</strong>
                        </h5>
                        <p>
                            Есть, и очень серьёзная. Дело в том, что скорость всасывания инсулина зависит от места
                            введения. Соответственно, пик (наиболее активное сахароснижающее действие) наступит в разное время.
                            Время это индивидуально, но в среднем можно считать, что при уколе в живот ультракороткий
                            инсулин выйдет на пик своего действия через 1 час -1 час 15 мин. При уколе в руку это
                            время составит около полутора часов, а в бедро или ягодицу – около двух.
                        </p>
                        <p>
                            Следует сразу оговориться, что на скорость всасывания влияют и другие факторы, например,
                            активность кровотока в данной области. Если ноги активно работают (скажем, человек бегает
                            или катается на велосипеде), то и из бедра инсулин всосётся и «заработает» очень быстро.
                        </p>
                        <h5 class="my-4">
                            <strong>Какое значение имеет «скорость разворачивания» инсулина?</strong>
                        </h5>
                        <p>
                            Знать и контролировать скорость работы инсулина (вводимого для компенсации пищи) очень
                            важно для т.н. «совмещения профилей еды и инсулина». Под этим термином понимается
                            уравновешивание двух процессов: повышения СК в результате приёма пищи и понижения
                            СК под действием инсулина. Очевидно, что нельзя допускать, чтобы «инсулин обогнал еду» - ведь
                            мы получим в результате гипогликемию (чаще на пике работы инсулина, но порой и во время еды),
                            - или «еда обогнала инсулин» - в таком случае получится слишком большой пищевой пик (гипергликемия).
                            А ведь гипергликемия – наш основной враг: она провоцирует развитие диабетических осложнений.
                            Таким образом, для достижения оптимальной компенсации жизненно важно знать «скорость еды»
                            (гликемический индекс продуктов) и «скорость инсулина», а также управлять ими.
                        </p>
                        <h5 class="my-4">
                            <strong>Нужно ли отрабатывать руки спиртом перед замером СК?</strong>
                        </h5>
                        <p>
                            Перед замером руки должны быть чистыми, особенно от «сладкой грязи». Для этого достаточно
                            их помыть или протереть влажной салфеткой. После прокола можно прижать к пальцу вату,
                            пропитанную водным антисептиком (октенисепт, например). Применение спиртосодержащих антисептиков
                            не рекомендуется: они могут приводить к пересушиванию, огрублению кожи, ухудшать заживление.
                        </p>
                    </div>
                </div>

                <div class="card mb-4 wow fadeIn" id="menuitem8">
                    <div class="card-body text-left">
                        <div class="card mb-4 wow fadeIn">
                            <img src="~/Images/hipoglikemia.jpg" class="img-fluid" alt="">
                        </div>
                        <p class="h5 my-4">ВСЕ ЧТО КАСАЕТСЯ ГИПОГЛИКЕМИИ</p>
                        <h5 class="my-4">
                            <strong>Как определить состояние гипогликемии? По самочувствию?</strong>
                        </h5>
                        <p>
                            К сожалению, самочувствие – не критерий. Тем более, у детей зачастую гипогликемия развивается
                            так стремительно, что организм реагирует с запаздыванием. Ребёнок жалуется на слабость,
                            голод и т.п., а СК уже высокий, то есть гипогликемия пропущена, и налицо уже откат. Иногда
                            ребёнок вообще не жалуется, так как не чувствует гипогликемию. Такие скрытые гипогликемии бывают,
                            например, во время еды, когда инсулин уколот неадекватно рано или много. Тогда видим уже откатную
                            гипергликемию на пике.
                        </p>
                        <p>
                            Единственно надежный способ – замер СК. При этом важно всегда помнить о фазе работы инсулина.
                            Так, если СК = 3,8 ммоль/л натощак, при ровном, слегка снижающемся к утру, СК ночью, - абсолютно
                            нормален, то такой же СК=3,8 на пике работы инсулина – серьёзная проблема, требующая мгновенных
                            действий по купированию гипогликемии. Ведь инсулин активно снижает СК, он только-только «разогнался».
                        </p>

                        <h5 class="my-4">
                            <strong>Чем купировать гипогликемию? Как правильно это делать?</strong>
                        </h5>
                        <p>
                            Приводить к норме очень низкий СК, т.е. купировать гипогликемию, нужно только самыми быстрыми
                            углеводами. Часто родители дают детям яблоки, другие фрукты или бутерброды. Да и в книгах пишут,
                            что надо дать что-то быстрое, а потом – что-то медленное, чтобы СК снова не упал, попозже.
                            На деле лучше всего именно быстрые углеводы, позволяющие чётко контролировать поведение СК.
                            Вкупе с частыми замерами и точным расчётом, это практически отменяет необходимость использовать
                            трудно учитываемую и «вылезающую» порой некстати медленную еду.
                        </p>
                        <p>
                            Итак, какие же продукты удобны для нашей цели? Имеющие максимальный ГИ и содержащие много ГУ:
                            таблетки глюкозы, декстроза (Декстро4), сахар (кусковой или растворённый в тёплой воде, чае),
                            соки (нектары, содержащие в составе сахарный сироп), мёд, леденцовая карамель, конфеты типа
                            «Коровка», сладкая газировка (обязательно с сахаром, напитки с аспартамом типа "Кока-Кола Лайт",
                            "пепси Лайт" не подходят), переспелый банан. Шоколадные конфеты не подойдут: они медленные.
                        </p>
                        <p>
                            Сколько давать? Вопрос неоднозначный. Ориентироваться нужно на несколько факторов. Во-первых,
                            на «цену ХЕ». Опытным путём важно выяснить, на сколько ммоль/л поднимается СК от приёма одной
                            ХЕ, не скомпенсированной инсулином. В книгах вы увидите цифру 1,5-2 ммоль/л. Забудьте о ней.
                            У детей эта цифра может составлять и 6 (в 8-12 лет, например), и 10, и больше (дети младше 5 лет
                            - особенно). Зная эту величину, хотя бы примерно, можно прогнозировать, какой СК мы хотим получить
                            в результате. Второе – фаза работы инсулина. Так, например, получая СК=3,7 утром натощак и зная,
                            что обычно фон у ребёнка ровный, мы можем приподнять перед завтраком СК совсем немножко, дав,
                            скажем, 0,2ХЕ. Но такой же СК на пике активной работы инсулина может потребовать и 0,5, и 1 ХЕ.
                            Третье – причина снижения СК. Уже упомянутое падение СК на пике может быть связано с передозировкой
                            инсулина, с несовпадением профилей инсулина и еды, с наличием физнагрузки. Например, под активную
                            физнагрузку обычно требуется гораздо большая подкормка, чем в покое. Все подобные нюансы – а их
                            много – изучаются и осваиваются опытным путём.
                        </p>
                        <p>
                            И, наконец, очень важный момент. Купировав гипу, не успокаивайтесь. Обязательно нужно убедиться,
                            что СК поднялся. Поэтому сделайте контрольный замер через 15-20 мин. Если СК всё ещё низкий,
                            повторите подкормку и проверку. Если речь идёт о физнагрузке, активно работающем пищевом
                            инсулине или проблемах с ЖКТ, весьма желательно проверить СК ещё разок через полчаса-час,
                            т.к. СК вновь может упасть.
                        </p>
                        <h5 class="my-4">
                            <strong>Как правильно действовать, если перед едой СК оказывается низким?</strong>
                        </h5>
                        <p>
                            Нередко встречается рекомендация эндокринологов «просто уколоть инсулин после еды». Этот подход,
                            часто оказывается неверным. А вдруг он в процессе еды всё ещё продолжает падать?
                        <p>
                            Правильные действия простые и чёткие. Нужно дать «быстрые углеводы», как для купирования гипогликемии.
                            Через 15 мин произвести контрольный замер. Убедившись, что СК достиг нормальной, приемлемой цифры
                            (например, 5-6 ммоль/л), мы просто кормим и колем, как всегда. Контроль обязателен.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>

