
<div class="card-header">
    <i class="fas fa-table"></i>
    Управление группами продуктов
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="GroupsTable" width="100%" cellspacing="0" style="text-align:center">
            <thead>
                <tr>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite">GroupID</th>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite">GroupName</th>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite">GroupImage</th>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite"></th>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite">
                        <button id="addGroupButton" type="button" name="Add" class="btn bg-dark" data-toggle="modal" data-target="#AddModal" style="color:ghostwhite">Создать новую группу</button>
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite">GroupID</th>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite">GroupName</th>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite">GroupImage</th>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite"></th>
                    <th class="text-xs-center" style="background-color: maroon; color:ghostwhite"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="card-footer small text-muted">Обновленено в @DateTime.Now</div>

<div class="col-lg-4" id="groupProductTable" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.9)">
    <div class="modal fade right" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Редактирование группы продутов</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="bodymodal">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="groupProductTable" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.9)">
    <div class="modal fade right" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавить группу продутов</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="bodymodalAdd">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="groupProductTable" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.9)">
    <div class="modal fade right" id="RemoveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удаление группы продутов</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="false">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="bodymodalRemove">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/AdminMDB/js/sb-admin.min.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<script>
    var gtable;
    $(document).ready(function () {
        gtable = $('#GroupsTable').DataTable({
            "scrollCollapse": true,
            "ordering": true,
            "processing": true,
            "serverSide": true,
            "searching": true,
            "orderMulti": false,
            "language": {
                "processing": '<div class="loader"></div><h4 style="color: green;">Загрузка данных...</h4>',
                "lengthMenu": "<span class='h5 my- 4'>Отобразить _MENU_ элементов</span>",
                "zeroRecords": "Извините, по Вашему запросу ничего не найдено",
                "info": "<span class='h5 my- 4'>Страница _PAGE_ из _PAGES_</span>",
                "infoEmpty": "Нет записей",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "_INPUT_",
                "searchPlaceholder": "Поиск...",
                "paginate": {
                    "previous": "Предыдущая",
                    "next": "Следующая"
                }
            },
            "order": [[1, 'asc']],
            "ajax":
            {
                "url": "/Admin/GetGroupsTable",
                "type": "POST",
                "dataType": "JSON",
            },
            "columnDefs": [
                { "targets": [3, 4], "orderable": false },
                { "targets": [3, 4], "searchable": false },
                { "width": "5%", "targets": [3, 4] }
            ],
            "columns": [
                { "data": "GroupID", "name": "GroupID" },
                { "data": "GroupName", "name": "GroupName" },
                { "data": "GroupImage", "name": "GroupImage" },
                {
                    mRender: function (data, type, row) {
                        return '<button type="button" name="Edit" class="btn btn-warning waves-effect waves-light" data-toggle="modal" data-target="#EditModal">Редактировать</button>';
                    }
                },
                {
                    mRender: function (data, type, row) {
                        return '<button type="button" name="Remove" class="btn btn-danger waves-effect waves-light" data-toggle="modal" data-target="#RemoveModal">Удалить</button>';
                    }
                },
            ],
            "select": true
        });

        $('#addGroupButton').on('click', function () {
            $.get("/Admin/AddGroupTable").done(function (data) {
                $('#bodymodalAdd').html(data);
            });
        });
    });

    $('#GroupsTable').on('click', 'tbody tr', function (e) {
        var data = gtable.row(this).data();
        var uid = data.GroupID;

        $.get("/Admin/EditGroupTable", { GroupID: uid }).done(function (data) {
            $('#bodymodal').html(data);
        });
    });

    $('#GroupsTable').on('click', 'tbody tr', function (e) {
        var data = gtable.row(this).data();
        var uid = data.GroupID;

        $.get("/Admin/RemoveGroupTable", { GroupID: uid }).done(function (data) {
            $('#bodymodalRemove').html(data);
        });
    });

</script>
